@charset "UTF-8";

.img-content{
  width: 765px;
  height: 400px;
}

.text-content{
  font-size: 22px;
  font-family: 'Arial';
}

@media(max-width: 2560px) and (min-width: 1440px){
  body {
    background-color: gray;
    color: gold;
    text-align: center;
  }

  .text-content{
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .img-content{
    width: 1200px;
    height: auto;
  }

  .title-content{
    font-size: 6em;
  }
}

@media (max-width: 790px){
  .img-content{
    width: 90%;
    height: auto;
  }
}

@media (max-width: 425px){
  .img-content{
    max-width: 100%;
    height: auto;
  }

  .text-content{
    font-size: 18px;
    text-align: center;
  }

  .title-content{
    text-align: center;
  }
}

@media (max-width: 320px){
  .text-content{
    font-size: 14px;
    text-align: center;
  }
}

 