.buttonBar {
  display: flex;
  gap: 1.5rem;
  border-bottom: 1px solid white;
  width: 90vw;
  margin: auto;
  padding-bottom: 1rem;
}

.buttonBar > button {
  border: transparent;
  cursor: pointer;
}