.buttonBar {
  display: flex;
  gap: 1.5rem;
  border-bottom: 1px solid white;
  width: 90vw;
  margin: 1rem auto;
  padding-bottom: 1rem;
}

.tab {
  color: white;
  text-decoration: none;
}

.active {
  color: white;
  text-decoration: none;
  border-bottom: .125rem solid white;
}